<extend name="Base/common"/>

<block name="header">
	<include file="Public/nav"/>
</block>

<block name="style">
    <link href="__CSS__/university.css" rel="stylesheet" type="text/css"/>
</block>

<block name="body">
    <div class="container">	
		<div class="row">
			<div class="col-md-2">
				<div class="school-categories">
					<volist name="categories" id="schoolcate">
						<eq name="currentType" value="$schoolcate['id']">
							<li class="active">								
								<a href="./index.php?s=/hom1un2&schooltype={$schoolcate['id']}">
									<i class="icon-chevron-right"></i>{$schoolcate.type_name}
								</a>
							</li>
						<else/>
							<li>
								<a href="{:U('index?schooltype='.$schoolcate['id'])}">
									<i class="icon-chevron-right"></i>{$schoolcate.type_name}
								</a>
							</li>
						</eq>
					</volist>
				</div>
			</div>
			<div class="col-md-10">
				<!--
				{$vo.id}-{$vo.type_id}-{$vo.english_name}--<a href={$vo.website}>{$vo.website}</a><br/>
				-->
				<table class="university_list">
					<tr>
						<th class='univ-col-1'>国内排名</th>
						<th class='univ-col-2'>学校名</th>
						<th class='univ-col-3'>教师数量</th>
						<th class='univ-col-4'>录取平均分</th>
						<th class='univ-col-5'>学生数量</th>
					</tr>
					<php>
					$acoun1t2=0; //Temple Account for IDnumber for school
					</php>
					<volist name="data" id="vo">
						<tr>
							<td rowspan="2" class="rank">
								<span class="school-ranking-number">
									<php> $acoun1t2=$acoun1t2+1;
										echo $acoun1t2;
									</php>
									<!-- {$vo.national_rank}	-->
								</span>
							</td>
							<td class='logo'>
								<if condition="($vo.logo_name eq '') ">   
									<else /> <a href="{:U('detail?id='.$vo['id'])}"> <img class='school-logo' src='__IMG__/schools/{$vo.logo_name}.png'> </a>
								</if>
							</td>
							<td class='marked-stat first'>
								<if condition="($vo.teacher_count eq '')"> 暂时没有数据                            
									<else /> {$vo.teacher_count}
								</if>
							</td>
							<td class='marked-stat second'>
								<if condition="($vo.app_mark_req eq '')"> 暂时没有数据                            
									<else /> {$vo.app_mark_req}
								</if>                            
							</td>
							<td class='marked-stat third'>
								<if condition="($vo.student_count eq '')"> 暂时没有数据                            
									<else /> {$vo.student_count}
								</if>                                   
							</td>
						</tr>
						<tr>     
							<td class='name-link'><strong><a href="{:U('detail?id='.$vo['id'])}">{$vo.eng_name}</a></strong></td>
							<td class='school-intro' colspan="3">
								<php>
									if(mb_strlen($vo['school_intro'], 'utf8') > 100){
										echo mb_substr($vo['school_intro'], 0, 100, 'utf8').'...';
									} else {
										echo $vo['school_intro'];
									}
								</php>
							</td>
						</tr>
					</volist>
				</table>
			</div>
		</div>
    </div>
</block>